[submodule "templates/fastapi"]
	path = templates/fastapi
	url = https://github.com/marcstreeter/marcstreeterdev-manifests-fastapi
[submodule "templates/ghpreact"]
	path = templates/ghpreact
	url = https://github.com/marcstreeter/marcstreeterdev-manifests-ghpreact
[submodule "templates/lambdapython"]
	path = templates/lambdapython
	url = https://github.com/marcstreeter/marcstreeterdev-manifests-lambdapython
[submodule "templates/lambdagolang"]
	path = templates/lambdagolang
	url = https://github.com/marcstreeter/marcstreeterdev-manifests-lambdagolang
